*{
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

div{
    width: 120px;
    height: 120px;
    background: yellow;
    display: block;
       
}

.contenedor{
    margin: 100px;
}

.caja1{
    background-color: orange;
    
}

.caja2{
    background-color: green;
    position: absolute;
    opacity: .8;
    top: 0; 
     
}

.caja3{
    background-color: lightblue;
    
}

.caja4{
    background-color: yellow;
}

